@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');
*{
    margin:0;
    font-family: 'Poppins', sans-serif;
}
form{
    padding: 20px;
}
body{
    height: 100vh;
}
form{
    max-width: 500px;
    margin: auto;
    margin-top: 100px;
    background-color: #a28383;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 20%);
}
h1{
    text-align: center;
    margin-bottom: 10px;
}
#contenedorHeader h1{
    color: rgb(41, 29, 29);
}
.mitad{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.mitad input{
    width:45% ;   
}
.completo{
    display: flex;
    justify-content: center;
    width: 100%;
}
.completo input{
    width: 100%;
}
input{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 7px;
    border: 0px;
    background-color: #e7e6e6;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
input[type=button]{
    background-color: #a5a0a0;
    border:0px;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
    font-size:17px;
    margin-top: 15px;
    margin: 15px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
input[type=button]:hover{
    cursor: pointer;
}
.botones{
    display:flex;
    justify-content: center;

}
header{
    background-color: blue;
}